/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  margin: 0 auto;
  max-width: 1500px;
}
main {
  margin: 0 auto;
  min-height: 100dvh;
  max-width: 1500px;
}
